#contact{
    padding: 80px 16px;
    .single-icon{
        margin-bottom: 40px;
        i {
            font-size: 24px;
            width: 50px;
            height: 50px;
            border: 1px solid $black;
            line-height: 46px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            line-height: 30px;
            margin: 0 0 15px;
            color: $black;
            span{
                font-size: 16px;
                line-height: 30px;
                color: $black;
            }
        }
    }
    .contact-form{
        .form-group {
            margin-bottom: 15px;
        }
        input[type="text"], input[type="email"] {
            background: rgba(0,0,0,0) none repeat scroll 0 0;
            border: 1px solid #ccc;
            border-radius: 0;
            color: $black;
            height: 40px;
            margin-bottom: 16px;
            padding-left: 20px;
            width: 100%;
            font-size: 14px;
            line-height: 1.42857143;
        }
        textarea {
            background: rgba(0,0,0,0) none repeat scroll 0 0;
            border: 1px solid #ccc;
            border-radius: 0;
            color: $black;
            height: 140px;
            padding: 20px;
            width: 100%;
            font-size: 14px;
            line-height: 1.42857143;
        }
        button[type="submit"] {
            background: rgba(0,0,0,0) none repeat scroll 0 0;
            border: 1px solid #ccc;
            color: $black;
            font-size: 16px;
            font-weight: 700;
            margin-top: 8px;
            padding: 12px 30px;
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
            border-radius: 30px;
            &:hover{
                background-color: $theme-color;
                color: $white;
                border-color: $theme-color;
                transition: all 0.3s ease 0s;
            }
        }
    }
}   