<!-- <footer id="footer">
    <div class="container">
        <div class="copyright">© Copyright <strong>Reveal</strong>. All Rights Reserved</div>
        <div class="credits">Designed by <a href="#">BootstrapMade</a></div>
    </div>
</footer> -->
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="single-footer-widget col-lg-12 col-md-12 m-auto">
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                </ul>
                <div class="text-center">
                    <p>Copyright © 2084 Company Name</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->